*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.container{
    width: 480px;
    height: 540px;
    background-color: rgb(59, 59, 59);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
p{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#screen{
    background-color: rgb(89, 156, 174);
    height: 80px;
    width: 440px;
    margin: 5px;
    font-size: 4rem;
    text-align: right;
    border-radius: 10px;
    border: none;
    border: 1px solid white;
   
}
.button{
    background-color: rgb(87, 87, 87);
    color: white;
    width: 92px;
    height: 70px;
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 15px;
    border: none;
}

.button:hover{
    border: 5px solid greenyellow;
}

.clear{
    background-color: red;
}
.operator{
    background-color:rgb(132, 132, 130);
}